@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Raleway:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}



/*MENU INICIAL RESPONSIVO Desktop*/
.nav-bar {
    background-color: #fdf0e9;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #080808;
}

.nav-list {
    display: flex;
    align-items: center;
    
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #000000;
    font-weight: 400;
    
}

/*FIM MENU INICIAL RESPONSIVO Desktop*/

/*MENU INICIAL RESPONSIVO Mobile*/
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1rem 2rem;
        background-image:url(img/1.jpg) ;
        background-size: 100%;
        display: flex;
        justify-content: space-between;

    }
    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-color: #fdf0e9;
        background-size: 100%;
    
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
        background-color: #fdf0e9;
    }
    .open {
        display: block;
    }
    .nav-link {
        text-decoration: none;
        font-size: 1.15rem;
        color: black;
        font-weight: 400;
        
    }
}
/*FIM INICIAL RESPONSIVO Mobile*/

/*Titulo*/
header {
    height: calc( 25vh - 100px);

    background-color: ghostwhite;
    background-repeat: no-repeat center cover;
    background-size: 100%;
    background-repeat: no-repeat;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {

    text-align: center;
}

header h2 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
    padding: 7px 0;
}
.header-content{
    max-width: 1000px;  
    margin: 10px auto;
    text-align: center;
    
    }
    
    .header-content h1{
    margin-bottom: 10px;
    }

/*Final Titulo*/



.whats{ position: fixed; bottom: 10px; right:10px; z-index: 9999;}
/* Roda-pé */
#footer {
    background-color: #fdf0e9;
    background-size: 100%;
    color: black;
    padding: 30px;
    text-align: center;
}
/* Final Roda-pé */


/* Color */
p{color:black; }
h1{color: black;}
h2{color:black; }
h3{color: ghostwhite;}
h4{color: ghostwhite;}
h5{color:black; }
form{color:ghostwhite;}
label{color: ghostwhite;}
li{color: ghostwhite;}
ul{color: ghostwhite;}
/* Final  Color */
