@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Raleway:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/*MENU INICIAL RESPONSIVO Desktop*/
.nav-bar {
    background-color: #fdf0e9;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
    
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #000000;
    font-weight: 400;
    
}

/*FIM MENU INICIAL RESPONSIVO Desktop*/

/*MENU INICIAL RESPONSIVO Mobile*/

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1rem 2rem;
        background-image:url(img/1.jpg) ;
        background-size: 100%;
        display: flex;
        justify-content: space-between;

    }
    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        background-color: #fdf0e9;
        background-size: 100%;
    
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
        background-color: #fdf0e9;
    }
    .open {
        display: block;
    }
    .nav-link {
        text-decoration: none;
        font-size: 1.15rem;
        color: black;
        font-weight: 400;
        
    }
}
/*FIM INICIAL RESPONSIVO Mobile*/

/*Card info serivos 0*/
.servicos{
    text-align: center;
    background: rgb(255, 255, 255);
    height: 100vh;

}

.servicos .card{
    width: 250px;
    height: 350px;
    background: rgba(0, 0, 0, 0) center;
    background-image:url(assets/1.jpg) ;
    border-radius: 24px 0px;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: center; 
}

.servicos .card-image{
    
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.servicos .card ul {
    margin: 0 30px;
}
/*Final Card 0*/

/* *Card info serivos 1*/
.servicos1{
    text-align: center;
    background: black;
    height: 100vh;
}

.servicos1 .card{
    width: 250px;
    height: 350px;
    background: rgba(71, 18, 18, 0) center;
    background-image:url(assets/1.jpg) ;
    border-radius: 24px 0px;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: center; 
}

.servicos1 .card-image{
    
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.servicos1 .card ul {
    margin: 0 30px;
}
/*Final Cards Serviços*/

.whats{ position: fixed; bottom: 10px; right:10px; z-index: 9999;}


/* Roda-pé */
#footer {
    background-color: #fdf0e9;
    background-size: 100%;
    color: black;
    padding: 30px;
    text-align: center;
}
/* Final Roda-pé */


/* Color */
p{color:black; }
h1{color: black;}
h2{color:black; }
h3{color: ghostwhite;}
h4{color: ghostwhite;}
h5{color:black; }
form{color:ghostwhite;}
label{color: ghostwhite;}
li{color: ghostwhite;}
ul{color: ghostwhite;}
/* Final  Color */